#sideNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 160px;
    height: 100%;
    background-color: #004d00; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
}

#sideNav.active {
    transform: translateX(0); 
}

#navLogo {
    width: 80px;
    margin-bottom: 30px;
    margin-top: -20px;
}


.nav-bottom {
    margin-bottom: 20px; 
    
}

/*
.nav-top {
   
    border: solid red 1em;
}
*/

.nav-link {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 4px;
    transition: background 0.3s;
}

.nav-link:hover {
    background-color: #006600;
}

.nav-top, .nav-bottom {
    display: flex;
    flex-direction: column;
}