#wnLogo{
    height: 60px;
    margin-left: 10px;
    margin-top: 5px;

}
#pfLogo{
    height: 50px;
    position: absolute;
    right: 15px;
    top: 5px;

}

#header{
   display: flex;
    align-items: center;
    padding: 20px 30px;
   background: linear-gradient(90deg, black, green)
}

body {
    margin: 0;
}


#searchBar {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 70px;
}

#searchInput {
    padding: 7px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

#searchButton {
    background-color: #fff;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    padding: 6px;
}

#searchButton img {
    width: 16px;
    height: 16px;
}

