#hello{
    text-align: center;
}

.calendar{
    display: flex;
    justify-content: center;
   
}
.day{
    border: solid 1px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    height: 50px;
    width: 50px;
    border-radius: 15px;
}

.about-container {
    text-align: center;
    margin-top: 30px;
}

.small-img {
    width: 350px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.team-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.team-buttons a {
    width: fit-content;
}
.edit-button {
    display: block;
    margin: 15px auto 25px auto; 
    padding: 8px 20px;
    font-size: 1em;
    background-color: darkgreen;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-button:hover {
    background-color: #388E3C;
}


