{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'sideNav.css' %}">
    <link rel="stylesheet" href="{% static 'glass.css' %}">
    <link rel="stylesheet" href="{% static 'form.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- csrf token -->
    <form style="display: none;">{% csrf_token %}</form>

    <div id="header">
        <div class="box" id="profile-div">
            <input type="text" id="search-box" placeholder="Search habits or people..." />
            <img src="{% static 'streak-hot.png' %}" alt="streak-hot" id="streak-hot">
            <a href="{% url 'profile' %}"><img src="{% static 'pf.png' %}" href="{% url 'profile' %}" alt="pf icon"id="pf-icon"></a>
        </div>

        <div class="box" id="search-div"></div>
        <div class="box" id="menu-div">
            <img src="{% static 'menu.png' %}" alt="hamburger-menu" id="hamburger-menu">
        </div>
    </div>

    <div id="sideNav">
        <div class="nav-top">
            <div id="icons" style="display: flex; justify-content: space-between; margin-top: -15px;">
                <div id="icons-left">
                    <img src="{% static 'wn.png' %}" alt="WN Logo" id="navLogo" style="margin-left: -20px;">
                </div>
                <div id="icons-right">
                    <img src="{% static 'menu.png' %}" alt="close-nav" style="width: 40px;" id="close-nav">
                </div>
            </div>

            <a href="{% url 'calendar' %}" class="nav-link">Home</a>
            <a href="{% url 'progress' %}" class="nav-link">Progress</a>
            <a href="{% url 'socials' %}" class="nav-link">Socials</a>
        </div>

        <div class="nav-bottom">
            <a href="{% url 'review' %}" class="nav-link">Review</a>
            <a href="{% url 'about' %}" class="nav-link">About</a>
        </div>
    </div>

    <div id="today">
        <div id="right"></div>
        <div id="center">
            <h1>Hello, {{ user.first_name|default:user.username }}!</h1>
            <h2>Today</h2>
            <h3>{{ today|date:"F jS" }}</h3>
        </div>
        <div id="left"></div>
    </div>

    <div id="calendarIcon-div" style="height: 50px;">
        <div id="l"></div>
        <div id="c" style="display: flex; text-align: center;">
            <img src="{% static 'image 18.png' %}" alt="calendarIcon-home"
                style="height: 40px; margin-left: 50px; text-align: center;">
        </div>
        <div id="r"></div>
    </div>

<div id="calendar-home">
  <div id="wrapper-left"></div>
  <div id="wrapper">
    {% for day in week_days %}
      <div class="days {% if day == today %}today-box{% endif %}">
        {{ day|date:"M j" }}
      </div>
    {% endfor %}
  </div>
  <div id="wrapper-right"></div>
</div>

    <div id="quote-div">
        <div id="quote-right"></div>
        <div id="quote-center">
            <h3 style="margin-bottom: -10px;">Quote of the day</h3>
            <br>"Always do your best"
        </div>
        <div id="quote-left"></div>
    </div>

    <div style="margin: 20px;">
        <div id="todo" style="display: flex;">
            <h2>To Do</h2>
            <button id="add-habit-button" > add habit
            <img src="{% static 'plus.png' %}" style="height: 10px;" alt="">
            </button>

        </div>
        <div style="display: flex; gap: 20px; justify-content: space-between;">


        <div id="habit-container" style=" flex-grow:2;">

        </div>


        <div id="habit-info" action="">
            <form id="habit-form" action="">
                {% csrf_token %}
                    <div id="habit-form-info"> <input id="habit-form-name" type="text" placeholder="Habit Name" required> 
                    <input type="text" id="habit-form-description" placeholder="Description"> 
                                    <div id="habit-color" style="display: flex; flex-direction: row; margin-top: 20px;">

                                    <!--drop down for choosing color-->
                                    <label for="color-picker" style="margin-left: 20px;">Tag</label>
                                    <select id="color-picker" name="color-picker" style=" margin-right: 20px;">
                                    <option value="" disabled selected>Select color</option>
                                    <option value="Green">Green</option>
                                    <option value="Purple">Purple</option>
                                    <option value="Gold">Gold</option>
                                    <option value="Blue">Blue</option>
                                    <option value="Red">Red</option>
                                    </select>

                                    <!--drop down for choosing predefined habits-->
                                    <label for="habit-type" required>Habits</label>
                                    <select id="habit-type" name="habit-type" style=" margin-right: 20px;">
                                    <option value="" disabled selected>Select type</option>
                                    <option value="water">Water Intake</option>
                                    <option value="sleep">Sleep Log</option>
                                    <option value="food">Food Intake</option>
                                    <option value="workout">Workout</option>
                                    <option value="custom">Custom</option>
                                    </select>

                                    <!--choosing value-->
                                    <input type="number" id="value-input" name="value" placeholder="Enter value" style="width: 100px;">


                                    </div>

                    </div>

                    <p style="text-align: left; margin-left: 40px;">repeat</p>
                    <div style="display: flex; flex-direction: row; justify-content: space-evenly; text-align: center;">
                    
                    <div class="day-box" data-day="Sunday">S</div>
                    <div class="day-box" data-day="Monday">M</div>
                    <div class="day-box" data-day="Tuesday">T</div>
                    <div class="day-box" data-day="Wednesday">W</div>
                    <div class="day-box" data-day="Thursday">Th</div>
                    <div class="day-box" data-day="Friday">F</div>
                    <div class="day-box" data-day="Saturday">S</div>

                        

                    </div>

                    <div style="display:flex; justify-content: flex-end; margin-top: 20px;">
                          <button type="submit" id="form-submit"> add habit
                          <img src="{% static 'plus.png' %}" style="height: 10px;" alt="">
                          </button>
                    </div>

            </form>



        </div>
<style>
    #habit-info{
display: none;
flex-grow: 2;
border: 5px ; 
padding: 3px;
border-radius: 15px; 
box-shadow: 2px 2px 5px gray; 

}
</style>



        <!--streak progress element-->
        <div style="flex-grow: .5; margin-right: 40px; border: 5px solid black; border-radius: 15px;display: flex; align-items: center; justify-content: center; flex-direction: column; max-height: 200px; text-align: center;">
            <button style="margin-top: 10px; margin-bottom: -40px" id="streak-progress" > Progress </button> <br>
            <h2 style="font-size: 50px;">59 <img src="{% static 'streak-hot.png' %}" alt="" style="height: 40px;"></h2> <br> <b style="margin-top: -40px; padding-bottom: 10px;">Highest Streak</b>
        </div>
        <style>#streak-progress{
        background-color: #4e148c;
        color: gold;
        padding: 36px;
        border: none;
        border-radius: 15px;
        font-size: 20px;
        font-weight: 500;
        width: 250px ;
        min-width: 150px;
        padding-top: 16px;
        padding-bottom: 16px;
        }
        </style>

        </div>



    </div>

    <div style="margin: 20px;">
        <div>
            <h2>Done</h2>
            <div id="done-container"></div> 
        </div>
    </div>

    <script>
        window.STATIC_URLS = {
            checkEmpty: "{% static 'check-empty.png' %}",
            checkDone: "{% static 'check.png' %}"
        };
    </script>

    <script src="{% static 'form.js' %}"></script>
    <script src="{% static 'calendar.js' %}"></script>
    <script src="{% static 'sideNav.js' %}"></script>
</body>

</html>