

body{
    margin: 0px;
}

/*
div{
 
    border: solid 5px black;

}

.box{
    background-color: blue;
    height: 50px;
    flex-grow: 1;
} 
   
*/

#today{
    display: flex;
    text-align: center;
    flex-grow: 1;
}

#right{
      flex-grow: 1;
}

#center{
      flex-grow: 3;
}

#left{
      flex-grow: 1;
}

#calendarIcon-div{
    display: flex;
    justify-content: space-between;
}
#l{
    flex-grow: 1;
}
#c{
    flex-grow: 10;
}
#r{
    flex-grow: 1;
}

#calendar-home{
    display: flex;
    justify-content: space-between;
}

#wrapper{
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    overflow-x: auto;
    padding: 3px;
}

#wrapper .days{
    display: flex;
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid;
    border-radius: 15px;
}

#today-box{
    box-shadow: 0 0 0 3px #f1c40f; 
}

#wrapper-left{
    flex-grow: 1;
}

#wrapper-right{
    flex-grow: 1;
}

#quote-div{
    display: flex;
    justify-content: space-between;

}
#quote-center{
    flex-grow: 1;
    text-align: center;
}
#quote-left{
    flex-grow: 1;
}

#quote-right{
    flex-grow: 1;
}

#todo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.main-button{

    border-radius: 40px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(51, 141, 56);
    border-color: transparent;
    align-items: center;
    display: flex;
    gap: 5px;
}

.habit{
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    height: 50px;
    font-size: 20px;
    color: white;
    background-color: rgb(41, 85, 41);
    border-color: transparent;
    margin: 10px;
    padding: 5px;
    max-width: 400px;

}
.check-empty{
    height: 30px;
    margin-right: 5px;
    display: none;
    opacity: 0;
    transition: opacity .3s ease;
}

.habit:hover .check-empty{

display: inline;
opacity: 1;

}

#done-container{
    margin: 0;
    padding: 0;
}